
  {{#events}}

    <tr>
        <td>
         <div class="btn-group" role="group" aria-label="Basic example">
            <form method="POST" action="/event/like">
                            <input type="hidden" value="{{id}}" name="id">
                        <!--  <input class="btn btn-sm btn-primary"  type="submit" value="Like"> -->
                        <button class="btn btn-sm btn-outline-primary" data-toggle="tooltip"
        data-placement="top" title="Like this event" type="submit"><i class="fas fa-thumbs-up"></i></button>
                        </form>
                    
                        <form method="POST" action="/event/unlike">
                            <input  type="hidden" value="{{id}}" name="id">
                        <!-- <input class="btn btn-sm btn-primary" type="submit" value="UN-Like"> -->
                            <button class="btn btn-sm btn-outline-primary" type="submit" data-toggle="tooltip"
        data-placement="top" title="UN-Like this event"><i class="fas fa-thumbs-down"></i></button>
                        </form>
                
         </div>
            
        </td>
        <td>{{ title }}</td>
        <td>{{ description }}</td>
        <td>{{ location }}</td>
        <td>{{ likes }}  </td>
        <td><button class="btn btn-sm btn-outline-danger"><i class="fas fa-trash"></i></button></td>
    </tr>
 
   
  {{/events}}
